/*TEMPLATE*/
.sto-__PLACEHOLDER__-w-carrousel {
    width: calc(100% - 14px);
    margin: 0 7px;
    height: auto !important;
    /* max-height: 500px; */
    position: relative;
    display: inline-block;
    padding-top: 2%;
    border: 1px solid #ccc;
    padding-bottom: 20px;
}

.sto-__PLACEHOLDER__-w-carrousel::after {
    content: 'Sponsorisé';
    font-size: 12px;
    /* font-style: italic; */
    font-family: "Source Sans Pro", sans-serif;
    color: #999999;
    position: absolute;
    display: block;
    height: 30px;
    line-height: 30px;
    bottom: -30px;
    right: 2px;
}

#productList.mosaic-display .sto-__PLACEHOLDER__-w-carrousel {
    margin: 15px 7px 60px 7px;
}

.sto-__PLACEHOLDER__-logo {
    max-width: 150px;
    width: 33.33%;
    height: 35px;
    position: relative;
    margin: auto;
    /* top: 3%; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    background-image: __LOGO__;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.sto-__PLACEHOLDER__-wording {
    text-align: center;
    margin: 5px 0 20px 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
}

.sto-__PLACEHOLDER__-w-slider {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.sto-__PLACEHOLDER__-w-carrousel .sto-product-container {
    width: auto;
    height: auto;
    position: relative;
    top: 0;
    left: 50px;
    display: flex;
    /* padding-left: 20px; */
}

.sto-__PLACEHOLDER__-w-carrousel .sto-product-container>.sto-product-klass,
.sto-__PLACEHOLDER__-w-carrousel .sto-product-container>.sto-vignette-klass {
    display: inline-block !important;
    vertical-align: top;
    height: 100%;
    cursor: pointer;
    margin-right: 15px;
    /* min-width: 280px; */
    /* flex: 1; */
    flex-shrink: 0;
}

.sto-__PLACEHOLDER__-w-carrousel .sto-product-container>.sto-product-klass,
.sto-__PLACEHOLDER__-w-carrousel .sto-product-container>.sto-vignette-klass {
    /* display: inline-block !important; */
    vertical-align: top;
    height: auto;
}

/* .sto-__PLACEHOLDER__-w-carrousel[data-type="redirection"] .sto-product-container {
  left: 0;
} */
.sto-__PLACEHOLDER__-w-carrousel .sto-product-container>.sto-product-klass,
.sto-__PLACEHOLDER__-w-carrousel .sto-product-container>.sto-vignette-klass {
    max-width: 280px;
    /* padding-bottom: 20px; */
}

.sto-__PLACEHOLDER__-w-carrousel[data-type="redirection"] .sto-product-container>li.sto-vignette-klass {
    /* border: 1px solid #ccc; */
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 280px;
    /* padding-bottom: 20px; */
    /* flex: 1;
  height: auto; */
}

.sto-__PLACEHOLDER__-w-carrousel[data-type="redirection"] .sto-product-container>li.sto-vignette-klass:last-child {
    margin-right: 0 !important;
}

.sto-__PLACEHOLDER__-w-carrousel[data-type="products"] .sto-__PLACEHOLDER__-slider .sto-product-klass .pl-picture>img.sticker-left {
    position: absolute;
}

.sto-__PLACEHOLDER__-product-img {
    width: 100%;
    height: 75%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.sto-__PLACEHOLDER__-w-cta {
    font-size: 16px;
    margin-top: 10px;
    border: 2px solid #191919;
    /* position: relative; */
}

.sto-__PLACEHOLDER__-product-claim {
    width: 80%;
    height: 100%;
    /* position: relative; */
    text-align: center;
    margin: auto;
    line-height: 1.2;
    padding: 10px 0;
}

.sto-__PLACEHOLDER__-product-claim {
    width: 80%;
    height: 100%;
    /* position: relative; */
    text-align: center;
    margin: auto;
    line-height: 1.2;
    padding: 10px 0;
}

.sto-__PLACEHOLDER__-product-claim span {
    line-height: 1.2;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 600;
    /* font-size: 3.5vw; */
    color: __CLAIM_TXT_COLOR__;
    display: inline-block;
}

.sto-__PLACEHOLDER__-product-cta span {
    background-color: __CTA_BG_COLOR__;
    color: __CTA_TXT_COLOR__;
    border: 2px solid __CTA_BORDER_COLOR__;
    padding: 3% 9%;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1em;
    /* font-size: 3vw; */
    line-height: 1;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
}

.sto-__PLACEHOLDER__-w-carrousel>.sto-__PLACEHOLDER__-w-cta {
    width: 280px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

.sto-__PLACEHOLDER__-w-carrousel .sto-product-container>li.sto-vignette-klass[data-index="1"] .sto-__PLACEHOLDER__-product-img {
    background-image: __PROD_01__;
}

.sto-__PLACEHOLDER__-w-carrousel .sto-product-container>li.sto-vignette-klass[data-index="2"] .sto-__PLACEHOLDER__-product-img {
    background-image: __PROD_02__;
}

.sto-__PLACEHOLDER__-w-carrousel .sto-product-container>li.sto-vignette-klass[data-index="3"] .sto-__PLACEHOLDER__-product-img {
    background-image: __PROD_03__;
}

.sto-__PLACEHOLDER__-w-carrousel .sto-product-container>li.sto-vignette-klass[data-index="4"] .sto-__PLACEHOLDER__-product-img {
    background-image: __PROD_04__;
}

.sto-__PLACEHOLDER__-w-carrousel .sto-product-container>li.sto-vignette-klass[data-index="5"] .sto-__PLACEHOLDER__-product-img {
    background-image: __PROD_05__;
}

.sto-__PLACEHOLDER__-w-carrousel .sto-__PLACEHOLDER__-w-slider {
    overflow-x: auto;
}

.sto-__PLACEHOLDER__-slider-left,
.sto-__PLACEHOLDER__-slider-right {
    position: absolute;
    height: 280px;
    width: 50px;
    top: 0px;
    /* left: 0px; */
    /* transform: translateY(-50%); */
    background-image: url(../../img/arrow_slider.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999;
    cursor: pointer;
    transition: 300ms;
    display: none;
}

.sto-__PLACEHOLDER__-slider-left:hover,
.sto-__PLACEHOLDER__-slider-right:hover {
    /* background-color: rgba(120, 120, 120, 0.3); */
    transition: 300ms;
}

.sto-__PLACEHOLDER__-slider-left:active,
.sto-__PLACEHOLDER__-slider-right:active {
    /* background-color: transparent; */
    /* transition: 300ms; */
}

.sto-__PLACEHOLDER__-slider-left {
    left: 0px;
}

.sto-__PLACEHOLDER__-slider-right {
    right: 0px;
    transform: rotate(180deg);
}

/*............................................................
//.MMMMMM...MMMMMM.EEEEEEEEEEE.DDDDDDDDD...IIIII....AAAAA.....
//.MMMMMM...MMMMMM.EEEEEEEEEEE.DDDDDDDDDD..IIIII....AAAAA.....
//.MMMMMM...MMMMMM.EEEEEEEEEEE.DDDDDDDDDDD.IIIII...AAAAAA.....
//.MMMMMMM.MMMMMMM.EEEE........DDDD...DDDD.IIIII...AAAAAAA....
//.MMMMMMM.MMMMMMM.EEEE........DDDD....DDDDIIIII..AAAAAAAA....
//.MMMMMMM.MMMMMMM.EEEEEEEEEE..DDDD....DDDDIIIII..AAAAAAAA....
//.MMMMMMMMMMMMMMM.EEEEEEEEEE..DDDD....DDDDIIIII..AAAA.AAAA...
//.MMMMMMMMMMMMMMM.EEEEEEEEEE..DDDD....DDDDIIIII.AAAAAAAAAA...
//.MMMMMMMMMMMMMMM.EEEE........DDDD....DDDDIIIII.AAAAAAAAAAA..
//.MMMM.MMMMM.MMMM.EEEE........DDDD...DDDDDIIIII.AAAAAAAAAAA..
//.MMMM.MMMMM.MMMM.EEEEEEEEEEE.DDDDDDDDDDD.IIIIIAAAA....AAAA..
//.MMMM.MMMMM.MMMM.EEEEEEEEEEE.DDDDDDDDDD..IIIIIAAAA.....AAA..
//.MMMM.MMMMM.MMMM.EEEEEEEEEEE.DDDDDDDDD...IIIIIAAAA.....AAA..
*/
@media screen and (max-width:767px) {
    .sto-__PLACEHOLDER__-w-carrousel .sto-product-container {
        left: 15px;
        /* transform: translateX(0%) !important; */
    }

    .sto-__PLACEHOLDER__-w-carrousel[data-type="redirection"] .sto-product-container>li.sto-vignette-klass {
        /* padding-bottom: 70px; */
    }

    .sto-__PLACEHOLDER__-w-cta {
        font-size: 16px;
        /* position: relative; */
        height: auto;
        margin-top: 10px;
    }

    .sto-__PLACEHOLDER__-w-carrousel>.sto-__PLACEHOLDER__-w-cta {
        width: 250px;
        margin: 10px auto 0;
    }

    .sto-__PLACEHOLDER__-product-claim {
        /* float: left; */
        width: 100%;
        height: 100%;
        /* position: relative; */
        /* padding-left: 10px; */
        text-align: center;
        margin: 0;
    }

    .sto-__PLACEHOLDER__-product-claim span {
        /* position: absolute;
    top: 50%;
    left: 0px; */
        /* transform: translateY(-50%); */
        line-height: 1.2;
        font-family: "Source Sans Pro", sans-serif;
        /* font-size: 1em;
        font-size: 2.5vw; */
    }

    .sto-__PLACEHOLDER__-product-cta {
        width: calc(42% - 10px);
        bottom: 35px;
        /* position: relative; */
    }

    .sto-__PLACEHOLDER__-product-cta span {
        position: absolute;
        padding: 11% 9%;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
        font-family: "Source Sans Pro", sans-serif;
        font-size: 1em;
        font-size: 2.5vw;
        line-height: 1;
    }

    .sto-__PLACEHOLDER__-slider-left,
    .sto-__PLACEHOLDER__-slider-right {
        display: none !important;
    }
}

@media screen and (max-width:425px) {
    .sto-__PLACEHOLDER__-logo {
        top: 0%;
    }

    .sto-__PLACEHOLDER__-product-claim {
        line-height: 0;
    }

    .sto-__PLACEHOLDER__-wording {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .sto-__PLACEHOLDER__-w-carrousel>.sto-__PLACEHOLDER__-w-cta {
        width: 200px;
    }

    .sto-__PLACEHOLDER__-product-claim span {
        /* font-size: 3vw; */
    }

    .sto-__PLACEHOLDER__-product-cta span {
        font-size: 3vw;
    }

    /* .sto-__PLACEHOLDER__-w-carrousel .pl-product .caption .pl-brand {
    font-size: 3vw;
  } */
}

@media screen and (min-width:768px) {
    .sto-__PLACEHOLDER__-w-carrousel {
        padding-top: 10px;
        /* height: 384px !important; */
    }

    .sto-__PLACEHOLDER__-logo {
        /* top: 7%;
    transform: translateX(-50%) translateY(-50%); */
    }

    .sto-__PLACEHOLDER__-w-carrousel .sto-__PLACEHOLDER__-w-slider {
        overflow-x: hidden;
    }

    .sto-__PLACEHOLDER__-w-carrousel .sto-product-container {
        left: 50px;
    }

    .sto-__PLACEHOLDER__-w-carrousel .sto-product-container .sto-__PLACEHOLDER__-product-img {
        /* width: 200px; */
    }

    .sto-__PLACEHOLDER__-slider-left, .sto-__PLACEHOLDER__-slider-right {
        display: block;
    }

    .sto-__PLACEHOLDER__-w-cta {
        font-size: 16px;
        /* position: relative; */
    }

    .sto-__PLACEHOLDER__-product-claim {
        width: 80%;
        height: 100%;
        /* position: relative; */
        text-align: center;
        line-height: 1.2;
    }

    .sto-__PLACEHOLDER__-product-claim span {
        line-height: 1.2;
        font-family: "Source Sans Pro", sans-serif;
        /* font-size: 1em; */
        /* font-size: 3.5vw; */
        color: __CLAIM_TXT_COLOR__;
        display: inline-block;
    }

    .sto-__PLACEHOLDER__-product-cta {
        /* width: calc(42% - 10px); */
        /* position: relative; */
        /* height: 100%; */
        margin: auto;
        text-align: center;
    }

    .sto-__PLACEHOLDER__-product-cta span {
        background-color: __CTA_BG_COLOR__;
        color: __CTA_TXT_COLOR__;
        border: 2px solid __CTA_BORDER_COLOR__;
        padding: 8px 20px;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 1em;
        /* font-size: 3vw; */
        line-height: 1;
        text-align: center;
        display: inline-block;
    }
}

@media screen and (min-width:992px) {
    .sto-__PLACEHOLDER__-w-carrousel {
        padding-top: 10px;
        height: auto !important;
    }
}

@media screen and (min-width:1200px) {
    .sto-__PLACEHOLDER__-w-slider {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    .sto-__PLACEHOLDER__-product-claim span {
        font-size: 14px;
    }

    .sto-__PLACEHOLDER__-product-cta {}

    .sto-__PLACEHOLDER__-product-cta span {
        font-size: 16px;
    }
}
