<div class="sto-__FORMAT__ sto-format sto-__PLACEHOLDER__-w-carrousel">
  <div class="sto-__PLACEHOLDER__-logo"></div>
  <div class="sto-__PLACEHOLDER__-w-slider">
    <div id="sto-__PLACEHOLDER__-slider" class="sto-__PLACEHOLDER__-slider sto-product-container"></div>
    <div class="sto-__PLACEHOLDER__-slider-left"></div>
    <div class="sto-__PLACEHOLDER__-slider-right"></div>
  </div>
</div>
